@model BugTracker.Web.ViewModels.Companies.IndexViewModel

@{
    ViewData["Title"] = "Your Companies";
}

    <h1>@ViewData["Title"]</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model.Companies)
    {
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelitem => item.Description)</p>
                <p class="card-text">Projects: @Html.DisplayFor(modelItem => item.Projects.Count)</p>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Projects" asp-route-id="@item.Id">Create a Project</a> 
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </div>
        </div>
    }
</div>