@model BugTracker.Web.ViewModels.Projects.DetailsProjectViewModel

@{
    ViewData["Title"] = "Project Details";
}

<h1>@Model.Name</h1>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <h1>Bugs</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Severity
                    </th>
                    <th>
                        Due date
                    </th>
                    <th>
                        Bug Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bug in Model.Bugs)
                {
                    @if (bug.Priority.ToString() == "High")
                    {
                <tr class="bg-danger text-white">
                    <td>
                        @Html.DisplayName(bug.Name)
                    </td>
                    <td>
                        @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Priority), bug.Priority))
                    </td>
                    <td>
                        @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Status), bug.Status))
                    </td>
                    <td>
                        @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Severity), bug.Severity))
                    </td>
                    <td>
                        @Html.DisplayName(bug.DueDate.ToString("d"))
                    </td>
                    <td>
                        <a class="btn-sm btn-primary text-white" asp-action="Details" asp-controller="Bugs" asp-route-id="@bug.Id">Bug Details</a>
                    </td>
                </tr>
                    }
                    else if (bug.Priority.ToString() == "Medium")
                    {
            <tr class="bg-warning text-white">
                <td>
                    @Html.DisplayName(bug.Name)
                </td>
                <td>
                    @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Priority), bug.Priority))
                </td>
                <td>
                    @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Status), bug.Status))
                </td>
                <td>
                    @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Severity), bug.Severity))
                </td>
                <td>
                    @Html.DisplayName(bug.DueDate.ToString("d"))
                </td>
                <td>
                    <a class="btn-sm btn-primary text-white" asp-action="Details" asp-controller="Bugs" asp-route-id="@bug.Id">Bug Details</a>
                </td>
            </tr>
                    }
                    else if (bug.Priority.ToString() == "Low")
                    {
            <tr class="bg-secondary text-white text">
                <td>
                    @Html.DisplayName(bug.Name)
                </td>
                <td>
                    @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Priority), bug.Priority))
                </td>
                <td>
                    @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Status), bug.Status))
                </td>
                <td>
                    @Html.DisplayName(Enum.GetName(typeof(BugTracker.Data.Models.Enums.Severity), bug.Severity))
                </td>
                <td>
                    @Html.DisplayName(bug.DueDate.ToString("d"))
                </td>
                <td>
                    <a class="btn-sm btn-primary text-white" asp-action="Details" asp-controller="Bugs" asp-route-id="@bug.Id">Bug Details</a>
                </td>
            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Report" asp-route-id="@Model.Id">Report a bug</a>
    <a class="btn btn-primary" asp-action="Index">Back to your Projects</a>
</div>


