@model BugTracker.Web.ViewModels.Projects.IndexViewModel

@{
    ViewData["Title"] = "Company Projects";
}

<h1>Company Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<hr class="w-100"/>
@if (TempData["message"] != null)
{
    <p class="alert alert-danger text-center">@TempData["message"]</p>
}

@if (Model.Projects != null)
{
    var projectData = Model.Projects.FirstOrDefault();
    <table class="table w-100">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => projectData.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => projectData.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => projectData.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => projectData.Bugs)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bugs.Count)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
