@model BugTracker.Web.ViewModels.Projects.IndexViewModel

@{
    ViewData["Title"] = "Projects of your Companies";
}

<h1>@ViewData["Title"]</h1>

@if (this.User.IsInRole("CompanyAdministrator") || this.User.IsInRole("ProjectAdministrator"))
{
    <p>
        <a class="btn btn-primary" asp-area="Administration" asp-controller="Projects" asp-action="Create">Create a new Project</a>
    </p>
}
<hr class="w-100" />
@if (TempData["message"] != null)
{
    <div class="alert alert-danger text-center">@TempData["message"]</div>
}

@if (Model.Projects.Count() > 0)
{
    var projectData = Model.Projects.FirstOrDefault();
    <table class="table table-striped w-100" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 15%">
                    @Html.DisplayNameFor(model => projectData.Name)
                </th>
                <th style="width: 55%">
                    @Html.DisplayNameFor(model => projectData.Description)
                </th>
                <th style="width: 10%">
                    @Html.DisplayNameFor(model => projectData.ActiveBugsCount)
                </th>
                <th style="width: 10%">
                    @Html.DisplayNameFor(model => projectData.ClosedBugsCount)
                </th>
                <th style="width: 10%" class="text-hide">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projects)
            {
            <tr>
                <td style="width: 15%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="width: 55%">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="width: 10%">
                    @Html.DisplayFor(modelItem => item.ActiveBugsCount)
                </td>
                <td style="width: 10%">
                    @Html.DisplayFor(modelItem => item.ClosedBugsCount)
                </td>
                <td style="width: 10%">
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>


    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-route-name="Projects"
                       asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (int i = 1; i <= this.Model.PagesCount; i++)
            {
                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link"
                       asp-route-name="Projects"
                       asp-route-page="@i">@i</a>
                </li>
            }
            @if (Model.CurrentPage == Model.PagesCount)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-route-name="Projects"
                       asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
}
else if (!this.User.IsInRole("CompanyAdministrator") || !this.User.IsInRole("ProjectAdministrator"))
{
    <p>The companies you have joined currently don't have any projects. Contact the companies administrators for more information or <a asp-controller="Companies" asp-action="Create">create</a> a new company for yourself and create projects for it.</p>
}
