@model BugTracker.Web.ViewModels.Companies.DetailsCompanyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Company</h4>
    <hr />
    @if (this.User.IsInRole("AwaitingAproval"))
    {
        <div class="alert alert-danger">Your Join request is send to the company administrator and is awaiting aproval.</div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
    @if (Model.Projects.Count > 0)
    {
        <hr />
        <h4 class="text-center">Projects</h4>
        <div>
            @foreach (var project in Model.Projects)
            {
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => project.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => project.Name)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => project.Bugs)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => project.Bugs.Count)
                    </dd>
                </dl>
            }
        </div>
    }

<div>
    @if (this.User.IsInRole("CompanyAdministrator"))
    {
        <a class="btn btn-primary" asp-area="Administration" asp-controller="Companies" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
