@model BugTracker.Web.ViewModels.Companies.IndexViewModel

@{
    ViewData["Title"] = "All Companies";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["message"] != null)
{
    <div class="alert alert alert-danger text-center">@TempData["message"]</div>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create a new Company</a>
</p>
<div class="row">
    @foreach (var item in Model.Companies)
    {
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelitem => item.Description)</p>
                <a class="btn btn-primary" asp-action="Join" asp-route-id="@item.Id">Join</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
        <br />
    }
</div>